<!DOCTYPE html>
<html>
<head>
    <title>Smart Doorbell Log</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .rounded-box {
            border: 1px solid #ccc;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        #detail-image {
            border-radius: 15px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .data-row:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3">Smart Doorbell Log</h1>
        <div class="row">
            <div class="col-4">
                <div class="rounded-box">
                    <h2 class="text-center">Visitors</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr class="data-row" data-datetime="{{ item.datetime }}">
                                <td>{{ item.datetime }}</td>
                                <td>{{ item.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-8">
                <div class="rounded-box text-center">
                    <img id="detail-image" src="" alt="Image not available" style="max-width: 100%; display: none;">
                    <p id="default-message">Select a row</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".data-row").click(function(){
                var datetime = $(this).data("datetime");
                $.getJSON("/getdata", {datetime: datetime}, function(data) {
                    $("#default-message").hide();
                    var imageUrl = "/images/" + data.name.replace(" ", "_").toLowerCase() + ".png";
                    $("#detail-image").attr("src", imageUrl).show();
                });
            });
        });
    </script>
</body>
</html>
